body {
    background-color: #E9ECEF;
}

nav {
    background-color: rgb(4, 4, 72);
    display: block;
    padding: 20px;
    
}

a:link {
    text-decoration: none;
    font-size: large;

}

img {
    width: 200px;
    height: auto;
}
